---
import SlideColumns from "./slide-columns.astro";

const items = [
  "Co-fundadora <a>
          href="https://equipadoca.pt/"
          class="underline underline-offset-1"><b>DOCA</b></a>,
  "<b>Internato de Formação Específica em Psiquiatria</b> no Centro Hospitalar Psiquiátrico de Lisboa;",
  "<b>Pós-Graduação em Psicoterapia cognitiva, comportamental e integrativa</b> – Associação Portuguesa Terapia Cognitivo Comportamental Integrativa;",
  "<b>Formação em Psicoterapia de Sistemas Familiares Internos</b> – IFS Institute;",
  "<b>Estágios em centros de tratamento de referência nas Doenças do Comportamento Alimentar</b> – Casa di Cura Villa Garda e Azienda Ospedaliero-Universitaria  di Torino;",
  "<b>Frequência no Mestrado em Doenças metabólicas e do Comportamento Alimentar</b> – Faculdade de Medicina da Universidade de Lisboa;",
];
---

<SlideColumns>
  <Fragment slot="left">
    <h3 class="text-accent text-2xl mb-8">Sobre mim</h3>
    <p class="pt-4 md:pt-20 mb-4 lg:pr-8">
      Defendo uma abordagem integrativa e centrada na pessoa.
    </p>
    <p class="lg:pr-8">
      Tenho como área de interesse, e de constante especialização, as doenças do
      comportamento alimentar.
    </p>
  </Fragment>
  <Fragment slot="right" class="">
    <h3 class="text-accent text-2xl mb-8">Formação e percurso profissional</h3>
    <ul class="list-disc max-w-xl">
      {
        items.map((item) => (
          <li class="mb-4 text-[16px] last:mb-0">
            <Fragment set:html={item} />
          </li>
        ))
      }
    </ul>
  </Fragment>
</SlideColumns>
