---
import SlideColumns from "./slide-columns.astro";

const items = [
  "Internato de Formação Específica em Psiquiatria no Centro Hospitalar Psiquiátrico de Lisboa;",
  "Pós-Graduação em Psicoterapia cognitiva, comportamental e integrativa – Associação Portuguesa Terapia Cognitivo Comportamental Integrativa;",

  "Frequência no Mestrado em Doenças metabólicas e do Comportamento Alimentar – Faculdade de Medicina da Universidade de Lisboa;",

  "Formação em Psicoterapia dos Sistemas Familiares Internos – Sociedade Portuguesa de Psicoterapias construtivistas;",

  "Estágios em centros de tratamento de referência nas Doenças do Comportamento Alimentar – Casa di Cura Villa Garda e Azienda Ospedaliero-Universitaria  di Torino;",
];
---

<SlideColumns>
  <Fragment slot="left">
    <h3 class="text-accent text-2xl mb-8">Sobre mim</h3>
    <p class="pt-4 md:pt-20 mb-4 lg:pr-8">
      Defendo uma abordagem integrativa e centrada na pessoa.
    </p>
    <p class="lg:pr-8">
      Tenho como área de interesse, e de constante especialização, as doenças do
      comportamento alimentar.
    </p>
  </Fragment>
  <Fragment slot="right" class="">
    <h3 class="text-accent text-2xl mb-8">Formação e percurso profissional</h3>
    <ul class="list-disc max-w-xl">
      {
        items.map((item, index) => (
          <li class="mb-4 text-[16px] last:mb-0">{item}</li>
        ))
      }
    </ul>
  </Fragment>
</SlideColumns>
