---
import { Image } from "astro:assets";
import activityImg from "../assets/activity.webp";
import SlideColumns from "./slide-columns.astro";

const { id } = Astro.props;
---

<SlideColumns className="items-stretch">
  <Fragment slot="left">
    <h3 class="text-accent text-2xl mb-12" id={id}>A minha atividade</h3>
    <div class="text-sm mt-6">
      <ul class="list-inside">
        <li class="max-w-xs md:max-w-screen-xs">
          <b>Consultas de psiquiatria e psicoterapia</b>
          <ul class="pl-3 list-['-']">
            <li>
              <span class="pl-1">Perturbações do Comportamento Alimentar</span>
            </li>
            <li><span class="pl-1">Depressão</span></li>
            <li><span class="pl-1">Perturbações de ansiedade</span></li>
            <li><span class="pl-1">Perturbação de Hiperatividade e Défice de Atenção</span></li>
            <li><span class="pl-1">Perturbação Obsessiva Compulsiva</span></li>
            <li class="list-none"><span class="pl-1">(entre outras)</span></li>
          </ul>
        </li>
      </ul>
    </div>
  </Fragment>
  <Fragment slot="right">
    <div class="hidden lg:flex max-h-[60vh] overflow-hidden py-8">
      <Image
        src={activityImg}
        alt="A minha atividade"
        class="max-h-full object-contain object-left"
      />
    </div>
  </Fragment>
</SlideColumns>
