---
import { Image } from "astro:assets";
import activityImg from "../../public/activity.webp";
---

<div>
  <div>
    <h3 class="text-title text-4xl mb-8">A minha atividade</h3>
    <div>
      <p>Co-fundadora da DOCA</p>
      <p>
        Consultas de psiquiatria especializadas em Doenças do Comportamento
        Alimentar; Psiquiatria Geral (Depressão; Perturbação de ansiedade;
        perturbação afetiva bipolar; Perturbação Obsessiva Compulsiva); e de
        Psicoterapia
      </p>
      <p>
        Psiquiatra na Clínica Psiquiátrica de São José de Telheiras, com
        atividade no Hospital de Dia para Doenças de Comportamento Alimentar;
        internamento de psiquiatria geral de agudos; internamento de
        psicogeriatria.
      </p>
    </div>
  </div>
  <div><Image src={activityImg} alt="A minha atividade" /></div>
</div>
