---
import { Image } from "astro:assets";
import activityImg from "../../public/activity.webp";
---

<div>
  <h3 class="text-accent text-2xl">A minha atividade</h3>
  <div class="flex flex-col lg:flex-row gap-10">
    <div class="text-sm pt-12 lg:pt-36 mb-16 lg:mb-0">
      <p class="mb-4">
        Co-fundadora da <a
          href="https://equipadoca.pt/"
          class="underline underline-offset-1"><b>DOCA</b></a
        >
      </p>
      <ul class="list-inside">
        <li>
          Consultas de psiquiatria especializadas em <b
            >Doenças do Comportamento Alimentar</b
          >
        </li>
        <li class="my-4">
          <b>Psiquiatria Geral</b>
          <ul class="list-outside pl-2">
            <li>Depressão</li>
            <li>Perturbação de ansiedade</li>
            <li>perturbação afetiva bipolar</li>
            <li>Perturbação Obsessiva Compulsiva</li>
          </ul>
        </li>
        <li><b>Psicoterapia</b></li>
      </ul>
    </div>
    <div class="hidden lg:block max-w-[30vw]">
      <Image src={activityImg} alt="A minha atividade" />
    </div>
  </div>
</div>
