---
import { Image } from "astro:assets";
import appointmentImg from "../../public/appointment.webp";
---

<div class="py-12">
  <h3 class="text-accent text-2xl mb-12">Como marcar consulta?</h3>
  <div
    class="flex flex-col gap-10 md:flex-row-reverse items-center justify-between"
  >
    <div class="">
      <p>
        Contacte o <a href="tel:215816427" class="underline underline-offset-1"
          ><b>215816427</b></a
        > ou <a
          href="mailto::europsyc.clinica.lisboa@gmail.com"
          class="underline underline-offset-1"
          >neuropsyc.clinica.lisboa@gmail.com</a
        > para marcações ou informações sobre as consultas.
      </p>
      <p class="my-[6vh]">Estas poderão ser online ou presenciais.</p>
      <p>
        A morada é <a
          href="maps://https://maps.app.goo.gl/cCsH18nv6ryNwHV17"
          class="underline underline-offset-1"
          >Avenida António Augusto de Aguiar, nº 42, Cave esq., Lisboa.</a
        >
      </p>
    </div>
    <Image
      src={appointmentImg}
      class="max-w-[60%] md:max-w-[40%] object-contain"
      alt="Como marcar consulta?"
    />
  </div>
</div>
