---
import { Image } from "astro:assets";
import appointmentImg from "../../public/appointment.webp";
import SlideColumns from "./slide-columns.astro";
---

<SlideColumns className="flex-1 pb-20">
  <Fragment slot="left">
    <h3 class="text-accent text-2xl mb-12">Como marcar consulta?</h3>
    <div class="lg:pr-8">
      <p>
        Contacte o <a href="tel:215816427" class="underline underline-offset-1"
          ><b>215816427</b></a
        > ou <a
          href="mailto::europsyc.clinica.lisboa@gmail.com"
          class="underline underline-offset-1">geral@inesnevescaldas.pt</a
        > para marcações ou informações sobre as consultas.
      </p>
      <p class="my-[6vh]">Estas poderão ser online ou presenciais.</p>
      <p>
        A morada é <a
          href="maps://https://maps.app.goo.gl/cCsH18nv6ryNwHV17"
          class="underline underline-offset-1"
          >Avenida António Augusto de Aguiar, nº 42, Cave esq., Lisboa.</a
        >
      </p>
    </div>
  </Fragment>
  <Fragment slot="right">
    <div class="h-[60vh] overflow-hidden hidden md:flex">
      <Image
        src={appointmentImg}
        alt="Como marcar consulta?"
        class="max-h-full object-contain object-center"
      />
    </div>
  </Fragment>
</SlideColumns>
