---
import { Image } from "astro:assets";
import { Linkedin, Instagram } from "lucide-react";
import photoImg from "../../public/photo.webp";
---

<div
  class="w-full flex flex-1 flex-col lg:flex-row items-center justify-evenly lg:justify-between lg:gap-[10%]"
>
  <Image
    src={photoImg}
    alt="Inês Neves Caldas"
    class="w-auto max-w-[80%] lg:max-w-[40%] object-top object-none"
  />
  <div class="h-full">
    <h2 class="text-accent text-3xl sm:text-5xl mb-3">Inês Neves Caldas</h2>
    <h3
      class="text-textAccent font-semibold tracking-widest text-sm xs:text-base"
    >
      PSIQUIATRA E<br />PSICOTERAPEUTA
    </h3>
    <div class="flex justify-end gap-3">
      <a href="https://www.linkedin.com/in/inesnevescaldas/" class="text-accent"
        ><Linkedin size="32" /></a
      >
      <a
        href="https://www.instagram.com/inesnevescaldas.psiquiatra/"
        class="text-accent"><Instagram size="32" /></a
      >
    </div>
  </div>
</div>
