---
import { Image } from "astro:assets";
import photoImg from "../../public/photo.webp";
---

<div
  class="w-full flex flex-1 flex-col lg:flex-row items-center justify-evenly lg:justify-between lg:gap-[10%]"
>
  <Image
    src={photoImg}
    alt="Inês Neves Caldas"
    class="w-auto max-w-[80%] lg:max-w-[40%] object-top object-none"
  />
  <div>
    <h2 class="text-accent text-4xl mb-3">Inês Neves Caldas</h2>
    <h3 class="text-textAccent font-semibold tracking-widest text-xs">
      PSIQUIATRA E<br />PSICOTERAPEUTA
    </h3>
  </div>
</div>
